.menu{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #000;
    border-radius: 10px;
    max-width:650px;
    margin: 40px 200px;
    padding: 20px;
}