body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzjQ0y5ajl1e1lImkU_rWvRLlBq2IXLms9rg&usqp=CAU");
}
.App {
    display: flex;
    margin-top: 40px;
}

.img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

